// scss reset start

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
  display: block;
  }

// css resect End

.wrap {
  margin: 0 auto;
  width: 95.239%;
  max-width: 100%;
  height: auto;
}



//======================= header =======================

/* header */
.header {
  background-color:#AA0601;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding-left: 312px;
  padding-right: 312px;

  h1 a {
    background-image: url("../images/logo-white.png");
    background-size: 100%;
    width: 80px;
    height: 48px; 
    display: block; 
    text-indent: 101%; /* 首行縮排*/
    white-space: nowrap;    /* 不要讓文字斷行*/
    overflow: hidden;   /*把文字隱藏起來*/
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    padding-left: 64px;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

    a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  
}
@media(max-width:767px) {
  .header {
      padding-left: 36px;
      padding-right: 30px;

      ul li {
        padding-left: 34px;
      }
  }
  
}
/* header */

//======================= header =======================

//=======================  banner =======================
/* banner */
.banner {
  img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  ul{
    text-align: right;
    padding-top: 350px;
    width: 80%;
    position:absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
}
.bannerFont36 {
  font-size: 36px;
  color: #650300;
  font: "思源黑體 TW",Regular;
}
.bannerFont64 {
  font-size: 64px;
  color: #650300;
  font:"思源黑體 TW",bold;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}
.bannerFont20 a {
  font-size: 20px;
  color: #FFFFFF;
  background: #AA0601;
  padding: 6px 12px 6px;
  text-decoration: none;
}

@media(max-width: 767px){
  #imgs {
      content: url("../images/home-header-sm.png")
  }
  .banner ul {
      width: 90%;
  }
}

/* banner */
//=======================  banner =======================

//=======================  introduce =======================
/* introduce */

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  background-color: #FBF2F2;

  h2{
    font-size: 48px;
    color: #650300;
    font: "思源黑體 TW";
    font-weight: bold;
    padding-bottom: 32.33px;
  }
  p {
    font-size: 16px;
    color:#000000;
    font: "思源黑體 TW";
    line-height: 24px;
    padding-bottom: 80px;
  }
  ul {
    width: 70%;
    display: flex;
    li img {
      width: 26.70%;
      margin: 0 auto;
      padding-bottom: 24.33px;
    }
    span {
      font-size: 24px;
      color: #650300;
      font: "思源黑體 TW";
      font-weight: bold;
      text-align: center;
      padding-bottom: 8px;
    }
  }
}

@media(max-width: 767px){
  .introduce ul {
    width: 90%;
    flex-wrap: wrap;
    li {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding: 12px;
      width: 45%;
    }
  }
}

/* introduce */
//=======================  introduce =======================


//=======================  product 產品 =======================
/* product 產品 */
.product {
  padding-bottom: 80px;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 36px;
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      a img {
        max-width: 416px;
        padding: 12px;
      }
      p{
        font-size: 48px;
        color: #AA0601;
        font: italic normal 900 48px Roboto;
      }
    }
  }
}
@media(max-width: 767px){
  .product ul {
      flex-wrap: wrap;
  }
}
/* product */
//=======================  product 產品 =======================



//=======================  joinProduct =======================

/* joinProduct */
.joinProduct {
  background-image: url(../images/index-bg.png);
  background-size: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    color: #FFFFFF;
    font: "思源黑體 TW";
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 48px;
  }
  ul {
    display: flex;
    justify-content: center;
    li {
      border: 1px solid #E0E0E0;
      a {
        text-decoration: none;
      }
      a img {
        max-width: 648px;
      }
      a p {
        color:#FFFFFF;
        font-size: 48px;
        font: italic normal 900 48px/72px Roboto;
        background-color: #fff;
        color: #AA0601;
        text-align: center;
      }
    }
  }
}

@media(max-width: 767px){
  .joinProduct {
      background-image: url("../image/index-bg-sm.png");
      ul {
        flex-wrap: wrap;
        li {
          padding-bottom: 24px;
      }
    }
  }
}

/* joinProduct */

//=======================  joinProduct =======================



//=======================  customer =======================

/* customer */

.customer {
  h2{
    font-size: 48px;
    color: #650300;
    font: "思源黑體 TW";
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 36px;
  }
  ul {
    display: flex;
    justify-content: center;
    padding-bottom: 68px;
    li {
      display: flex;
      flex-direction: column;
      max-width:307px;
      margin: 12px;
      border: 1px solid #DEE2E6;
      box-shadow: 0px 2px 6px #00000029;
      h3 {
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 8px;
      }
    }
  }
}

@media(max-width: 767px){
  .customer ul {
      flex-wrap: wrap;
  }
}
.customerP1 {
  padding-left: 16px;
  padding-right: 16px;
  line-height:21px;
}
.customerP2 {
  font-size: 14px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 48px;
  color: #707070;
}
/* customer */
//=======================  customer =======================




//=======================  contact =======================
/* contact */
.contact {
  background-color: #FBF2F2;
  ul {
    width: 33%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
  }
}
@media(max-width: 767px){
  .contact ul {
      width: 90%;
  }
}
.contactUl li {
  width: 100%;
  padding-bottom: 16px;
  font-size: 20px;
  input {
    width: 100%;
    font-size: 16px;
    height: 36px;
  }
  textarea {
    width: 100%;
    height: 136px;
  }
}
.contactFont20 {
  font-size: 20px;
  line-height: 30px;
}
.contactFont16 {
  font-size: 16px;
  padding-bottom: 8px;
}
.contact button {
  font-size: 16px;
  text-align: center;
}
.contactUl2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.contactUl2But  input {
  background-color: #AA0601;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 176px;
  padding-right: 176px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 48px;
}
/* contact */

//=======================  contact =======================



//=======================  footer =======================
/* footer */
.footer {
  background-color: #AA0601;
}
.footerFirst {
  padding-left: 312px;
  padding-right: 312px;
  padding-top: 60.2px;
}
@media(max-width: 767px){
  .footerFirst {
      padding-left: 36px;
      padding-right: 40px;
  }
}
.footerSecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 48px;
    padding-left: 32px;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
  }
}
@media(max-width: 767px){
  .footerSecond {
      padding-bottom: 30px;
      img {
        padding-left: 16px;
    }
  }
}
.footerThird {
  display: flex;
  justify-content: center;
  padding-bottom: 35.98px;
  li {
    padding-right: 48px;
  }
}
@media(max-width: 767px){
  .footerThird {
      padding-bottom: 0px;
      li {
        padding-right: 20px;
    }
  }
}
.footerThirdTwo {
  display: flex;
  justify-content: center;
  a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 36px;
  }
}
.fa-phone {
  color: #FFFFFF;
  font-size: 36px;
  padding-right: 6px;
}
.fa-envelope-circle-check {
  color: #FFFFFF;
  font-size: 36px;
  padding-right: 6px;
}
@media(max-width: 767px){
  .footerSecondTwo {
      padding-bottom: 30px;
  }
}
.footerSecondTwo li {
  padding-bottom: 8px;
  a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 36px;
  }
}
.footerSecondThird {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}
.footerUl2_1_1 {
  display: flex;
  justify-content: end;
  li {
    padding-left: 21px;
  }
}
/* footer */
/* footer */
/* footer */

//=======================  footer =======================
